<form class='' method="POST" action="/auth/login">
  <div class='flex-container col s12 m6 offset-m3'>
    <div class="forms-container">
      <h3 class="form__title">Login</h3>
      <div class="input-field">
        <label class="email">Email</label>
        <input type="email" id="email" name="email" class=" validate">
      </div>
      <div class="input-field">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="validate">
      </div>
      <div class='button__container'>
        <input type="submit" value="Login" class="btn btn-success input__button">
      </div>
    </div>
  </div>