<form method="POST" action="/auth/signup">
  <div class="flex-container">
    <div class="forms-container">
      <div class="input-field">
        <label for="name">Name</label>
        <input type="text" name="name" class="validate" id="name">
      </div>
      <div class="input-field">
        <label for='email'>Email</label>
        <input type="email" name="email" class="validate" id="email">
      </div>
      <div class="input-field">
        <label for='password'>Password</label>
        <input type="password" id='password' name="password" class="validate" >
      </div>
      <div class="button__container">
        <input type="submit" value="Sign Up" class="btn btn-success">
      </div>
    </div>
  </div>
</form>