<footer class="footer">
    <div class="footer-copyright">
        <div class="container copyright">
            <span>Homemade with
                <i class="material-icons sml">favorite</i> by Lucas
                <a class="grey-text text-lighten-4" href="https://github.com/thegreatsantini">
                    <i class="fab fa-github"></i>
                </a>
            </span>
        </div>
    </div>
</footer>

