<footer class="footer">
    <div class="footer-copyright">
        <div class="container copyright">
            Made with <i class="material-icons sml">favorite</i> by Lucas
            <a class="grey-text text-lighten-4 right" href="https://github.com/thegreatsantini"><i class="fab fa-github"></i></a>
        </div>
    </div>
</footer>