<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Dejafood</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <% if ( !currentUser ) { %>
                <li>
                    <a href="/auth/login">Log In
                    </a>
                </li>
                <li>
                    <a href="/auth/signup">Sign Up
                        
                    </a>
                    </i>
                </li>
                <%  } else { %>
                    <li>
                        <a href="/auth/logout">Log out</a>
                    </li>
                    <li>
                        <a href="/profile">Profile</a>
                    </li>
        </ul>
        <% } %>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
        <% if ( !currentUser ) { %>
    <li>
        <a href="/auth/login">Log In</a>
    </li>
    <li>
        <a href="/auth/signup">Sign Up</a>
    </li>
    <% } else { %>
    <li>
        <a href="/auth/logout">Log Out</a>
    </li>
    <li>
        <a href="/profile">Profile</a>
    </li>
    <% } %>
</ul>