<nav class="slideframe">
    <div class="nav-wrapper">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="brand-logo center" href="#">Dejafood</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-expand-md" id="bs-example-navbar-collapse-1">


            <ul id='nav-mobile' class="right hide-on-med-and-down">
                <% if (!currentUser) { %>
                    <li>
                        <a href="#modal1" class='modal1'>Log In
                            <i class="fa fa-user-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#modal2" class="modal2">Sign Up
                            <i class="fa fa-user"></i>
                        </a>
                    </li>
                    <% } else { %>
                        <li>
                            <a href="auth/logout">Log Out
                                <i class="fa fa-user-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/profile">Profile
                                <i class="fa fa-user"></i>
                            </a>
                        </li>
                        <% } %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>