<div class='center' >
<img src="https://media.giphy.com/media/l2JJKs3I69qfaQleE/giphy.gif" alt="404 these are not the recipes you are looking for">
<h2>These are not the recipes you are looking for</h2>
</div>