<div class="container ">
    <div class="row">
        <div class="col-lg-12">
            <div class='hero-content-area' id="content">
                <h1>Dejafood</h1>
                <h3>Find cool new recipes with old ingredients</h3>
                <hr>

                <button class="btn btn-default btn-lg" id='get-started'>
                    <i class="fas fa-utensils"></i> Get Started</button>
                <form action="/ingredients" id="ingredients-list">
                    <div class="form-group ingredients" >
                        <!-- <label for="ingredients">Ingredients</label> -->
                        <input name='search' type="text" class="form-control"   placeholder="Enter ingredients">
                        <!-- <small id="emailHelp" class="form-text text-muted">Lets find</small> -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Feature Discovery
Element Showed -->
 <!-- <a id="menu" class="waves-effect waves-light btn btn-floating" ><i class="material-icons">menu</i></a> -->

  <!-- Tap Target Structure -->
 <!-- <div class="tap-target" data-target="menu"> 
    <div class="tap-target-content">
      <h5>Title</h5>
      <p>A bunch of text</p>
    </div>
  </div> -->