#content {
    text-align: center;
    color: white;
    padding-top: 15%;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
      0px 18px 23px rgba(0, 0, 0, 0.1);
  }
  
  body {
    background-image: url('https://images.pexels.com/photos/616358/pexels-photo-616358.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    font-family: 'Lobster Two', cursive!important;
    background-size: cover;
    font-family: "Lato", sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  h1 {
    font-weight: 700!important;
    font-size: 7em;
  }
  
  html {
    
    height: 100%;
  }
  
  hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  nav {
    opacity: 0;
    animation: 1s fadein 0.5s forwards;

  }

  @keyframes fadein {
    100% {
      opacity: 1;
    }
  }

  .hero-content-area {
    opacity: 0;
    margin-top: 100px;
    animation: 1s slidefade 1s forwards;
  }
  
  
  .ingredients {
    opacity: 0;
  }
  
  hide {
    display: none;
  }
  
  animation-slidefade {
    animation: 1s slidefade 1s forwards;
    
  }
      @keyframes slidefade {
        100% {
          opacity: 1;
          margin: 0;
        }
      }
.card-image {
  /* width: 100%;
  height: 250px;
  margin: 0;
  position: relative; */
  overflow: hidden;
  position: relative;
  overflow: hidden;
  
}

.card-title {
  text-transform: bold!important;
  padding: 0px!important;
}

.image {
  
  height: 216px!important;
  object-fit: cover;
  /*
  max-width: 100%;
  position: absolute;
  top: -20%;
  left: -20%; */
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;

}

i.add:hover {
  color: black;
}

.footer {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #EC6268!important;
  color: white;
  text-align: center;
  opacity: 0;
  animation: 1s fadein 0.5s forwards;
}

.copyright {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold; 
  letter-spacing: 2.5px;
}

.copyright .sml {
  font-size: 18px;
}

.fab-github {
  font-size: 18px;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color:  black;
  opacity: 1 !important;
  font-family: 'Lato', sans-serif!important;
  font-weight: 400!important;
}

input[type=text]:not(.browser-default) {
  border-bottom: 1px solid white!important;
  
}
@media all and (max-width: 991.98) { 
  #content {
    padding-top: 75%;
  } 
  
} 